<div class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-gray-950">
  <form (ngSubmit)="login()" class="bg-white dark:bg-gray-900 dark:text-gray-100 p-8 rounded-lg shadow w-96">
    <h2 class="text-2xl mb-6 text-center font-bold">Login</h2>
    <input [(ngModel)]="email" name="email" placeholder="Email"
      class="w-full mb-4 p-2 border rounded dark:bg-gray-800 dark:border-gray-700" />
    <input [(ngModel)]="password" name="password" type="password" placeholder="Password"
      class="w-full mb-4 p-2 border rounded dark:bg-gray-800 dark:border-gray-700" />
    <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white p-2 rounded">Login</button>
    <p *ngIf="error" class="text-red-500 mt-3 text-sm">{{ error }}</p>
  </form>
</div>
